.grid {
    width: fit-content;
    overflow: auto;
}

.hex-row {
    display: flex;
    width: fit-content;
    column-gap: 1.5px;
}

.odd-row {
    margin: -28px 0px -28px 51px;
}

.coordinate {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.hexagon:hover {
    background-color: gainsboro;
}

.selected {
    background-color: cornflowerblue !important;
}

.path {
    background-color: salmon !important;
}

.goal {
    background-color: darkred !important;
}

.minimap-container {
    border: 5px solid antiquewhite;
    border-radius: 5px;
    background-color: antiquewhite;
    z-index: 3;
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.minimap-view {
    border: 2px solid rgba(250, 235, 215, 0.69);
    border-radius: 3px;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
}